<section class="inner">
    <div class="post-recents-in-index">
        <strong>News</strong>
    </div>

    <blockquote>
        <ul>
            <p>
            <strong>July 15, 2018</strong>
            I helped conduct a case study featuring our lab for using clound computing with GPUs <a href="https://www.tenzar.com/library/training-deep-learning-models-for-uav">Training Deep Models for UAVs</a>
            </p>
        </ul>
    </blockquote>

    <blockquote>
        <ul>
            <p>
            <strong>April 21, 2018</strong>
            I gave a talk titled Geo-referenced UAV Localization for <a href="http://paopaorobot.org/">PaoPao Robot</a>.
            <a href="https://goo.gl/5rmwPq">[Preview]</a>
            <a href="/pdfs/presentation/Geo-referenced UAV Localization.pdf">[Slides]</a>
            <a href="https://goo.gl/ZqBDLL">[Video]</a>
            <a href="/_posts/geo_ref_uav_nav_qa.md">[Q&A]</a>
            </p>
        </ul>
    </blockquote>

    <blockquote>
        <ul>
            <p>
            <strong>July 16, 2017</strong>
            Our paper <a href="https://arxiv.org/abs/1707.02069">A spatiotemporal model with visual attention for video classification</a> is presented at <a href="http://homes.cs.washington.edu/~tws10/rss17articulatedTracking/#program">RSS 2017 Workshop on Articulated Model Tracking</a>
            </p>
        </ul>
    </blockquote>

</section>
