<section class="inner">
    <div class="post-recents-in-index">
        <strong>News</strong>
    </div>

    <blockquote>
        <ul>
            <p>
            <strong>July 15, 2018</strong>
            I helped conduct a case study featuring our lab for using clound computing with GPUs <a href="https://www.tenzar.com/library/training-deep-learning-models-for-uav">Training Deep Models for UAVs</a>
            </p>
        </ul>
    </blockquote>

    <blockquote>
        <ul>
            <p>
            <strong>April 21, 2018</strong>
            I gave a talk titled Geo-referenced UAV Localization for <a href="http://paopaorobot.org/">PaoPao Robot</a>.
            <a href="https://mp.weixin.qq.com/s?__biz=MzI5MTM1MTQwMw==&mid=2247495494&idx=1&sn=3985e836961d867ec6d209ef0f3c5418&chksm=ec135142db64d854eb17cc77e0a36c748f70f01bf20858b773a9265fec43d8cdf098ae0a0ae9&mpshare=1&scene=1&srcid=0421tqrzOaIUI6uuQgiWIIED&key=aafcc26aeb20c9fbb3d67175d5f0bc7f992ba809e62e96790463e97566ec881b39b06f427370ff4aa135e36310929e2f2e6af14ba4c5c09b8b9611e8e9fded163830b91f7ce7b15393eafcce8d20d94e&ascene=0&uin=MTM2MjY2NjQ2Mg%3D%3D&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.13.1+build(17B48)&version=12020810&nettype=WIFI&lang=zh_CN&fontScale=100&pass_ticket=sI2SLy9M57TivtoXbP68z0KPe%2FSoDf0%2FBf8FRzCgTo09HbWErGfvuJ3PUbyjgUEU">[Preview]</a>
            <a href="/pdfs/presentation/Geo-referenced UAV Localization.pdf">[Slides]</a>
            <a href="https://pan.baidu.com/s/13w0efuGD6GZXzf9UZPVXIA">[Video]</a>
            </p>
        </ul>
    </blockquote>

    <blockquote>
        <ul>
            <p>
            <strong>July 16, 2017</strong>
            Our paper <a href="https://arxiv.org/abs/1707.02069">A spatiotemporal model with visual attention for video classification</a> is presented at <a href="http://homes.cs.washington.edu/~tws10/rss17articulatedTracking/#program">RSS 2017 Workshop on Articulated Model Tracking</a>
            </p>
        </ul>
    </blockquote>

</section>
